@import url('https://fonts.googleapis.com/css?family=Share+Tech+Mono');

/*lOGIN*/
.container{

	width: 100%
}

.login{
	   
	background-color: rgba(10,23,55,0.7);
	padding: 30px;
}

#box{
    
    margin: 0 auto;

}	


body {
	margin: 0;
	overflow: hidden;
}

canvas {
	background-image: radial-gradient(#666, #333);
}



